<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>惩罚管理</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
        #load_cont{
            border: 0px;
        }
    </style>
</head>

<body>
<div class="container">
    <form>
        <div class="row">
            <div class="col-md-12">
                <span>
                    惩罚：<input type="text" id="name" class="form-control" style="width: 25%;display: inline-block;"
                              th:value="${name}" />
                    学生姓名：<input type="text" class="form-control"  style="width: 25%;display: inline-block;"
                                th:value="${sname}" id="sname"/>
                </span>
                <button type="button" class="btn btn-success" id="search">查询</button> &nbsp;
                <button type="button" class="btn btn-primary" th:onclick="add()">添加</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>奖惩</th>
                        <th>学生名字</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th colspan="2">操作</th>
                    </tr>
                </thead>
                <tbody id="list5" th:remove="${pageinfo.list.size()==0?'none':'all-but-first'}">
                    <tr th:each="temp, iter: ${pageinfo.list}">
                        <td th:text="${iter.index}"></td>
                        <td th:text="${temp.name}"></td>
                        <td th:text="${temp.sname}"></td>
                        <td th:text="${temp.createby}"></td>
                        <td th:text="${#dates.format(temp.createdate,'yyyy-MM-dd')}"></td>
                        <td><a th:onclick="upd([[${temp.id}]])">修改</a></td>
                        <td><a th:onclick="del([[${temp.id}]])">删除</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <ul class="pager">
                                <li>
                                    <input type="hidden" id="pageNum" th:value="${pageinfo.pageNum}">
                                    <input type="hidden" id="pageSize" th:value="${pageinfo.pageSize}">
                                    <input type="hidden" id="lastPage" th:value="${pageinfo.lastPage}">
                                    <input type="hidden" id="hasPreviousPage" th:value="${pageinfo.hasPreviousPage}">
                                    <input type="hidden" id="prePage" th:value="${pageinfo.prePage}">
                                    <input type="hidden" id="hasNextPage" th:value="${pageinfo.hasNextPage}">
                                    <input type="hidden" id="nextPage" th:value="${pageinfo.nextPage}">
                                </li>
                                <li>
                                    <a href="javascript:void(0)">首页</a>
                                </li>
                                <li class="abled">
                                    <a href="javascript:void(0)">上一页</a>
                                </li>
                                <li class="abled">
                                    <a href="javascript:void(0)">下一页</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">末页</a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0)" style="margin-left: 50px;">第<b id="num">
                                        [[${pageinfo.pageNum}]]</b>页/ 共<b id="pages">[[${pageinfo.pages}]]</b>页
                                        &nbsp; &nbsp;  共<b id="size">[[${pageinfo.total}]]</b>
                                        条记录</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/superDialog.js"></script>
<script>
    var pageNum = $("#pageNum").val().trim();
    var pageSize = $("#pageSize").val().trim();
    var lastPage = $("#lastPage").val().trim();
    var hasPreviousPage = $("#hasPreviousPage").val().trim();
    var prePage = $("#prePage").val().trim();
    var hasNextPage = $("#hasNextPage").val().trim();
    var nextPage = $("#nextPage").val().trim();



    function del(id){
        if(window.confirm('是否移除?')){
            location.href = "/c/recode/del/"+id;
        }
    }

    function add(){
        console.log("添加");
        location.href = "/c/recode/toAdd";
    }

    function upd(id){
        location.href = "/c/recode/upd/"+id;
    }

    $("#search").click(function () {
        var name = $("#name").val().trim();
        var sname = $("#sname").val().trim();
        location.href = "/c/recode/cf?pageNum=1&pageSize="+pageSize+"&name="+name+"&sname="+sname;
    });

    $(function() {
        //首页
        $(".pager a:eq(0)").click(function(){
            var name = $("#name").val().trim();
            var sname = $("#sname").val().trim();
            if(pageNum==1){
                $(this).parents("li").addClass("disabled");
                return
            }else{
                $(this).parents("li").removeClass("disabled");
            }
            location.href = "/c/recode/cf?pageNum=1&pageSize="+pageSize+"&name="+name+"&sname="+sname;
        });
        //末页
        $(".pager a:eq(3)").click(function(){
            var name = $("#name").val().trim();
            var sname = $("#sname").val().trim();
            if(pageNum==lastPage){
                $(this).parents("li").addClass("disabled");
                return
            }else{
                $(this).parents("li").removeClass("disabled");
            }
            location.href = "/c/recode/cf?pageNum="+lastPage+"&pageSize="+pageSize+"&name="+name+"&sname="+sname;
        });

        //上一页
        $(".pager a:eq(1)").click(function(){
            var name = $("#name").val().trim();
            var sname = $("#sname").val().trim();
            $(".abled").each(function(){
                $(this).removeClass("disabled");
            })
            if(hasPreviousPage){
                location.href = "/c/recode/cf?pageNum="+prePage+"&pageSize="+pageSize+"&name="+name+"&sname="+sname;
            }else{
                $(this).parents("li").addClass("disabled");
            }
        });

        //下一页
        $(".pager a:eq(2)").click(function(){
            var name = $("#name").val().trim();
            var sname = $("#sname").val().trim();
            $(".abled").each(function(){
                $(this).removeClass("disabled");
            })
            if(hasNextPage){
                location.href = "/c/recode/cf?pageNum="+nextPage+"&pageSize="+pageSize+"&name="+name+"&sname="+sname;
            }else{
                $(this).parents("li").addClass("disabled");
            }
        });
    })
</script>

</html>